/*
Pagina Home y cosas comunes de todas las paginas.
*/
#M2 #Login a {
    color: blue;

}
#M2 button {
   margin-left:-8%;

}
#M1 .nav-item {
   border: solid 1px;
   margin-left: 10%;
   border-radius: 14%;
   color: black;
   background-color: #f1f1f0;

}
#M1 .nav-item li a {

    color: black;
 
 }
#navColor {
    background-color: #5e83ba;
 
 }
 #ico{
    width: 100px;
    height: 100px;
 }
 body {
    background-color: #bbdddf;
    max-width: 1400px;
    width: 1400px;
    margin-left: 2vw !important; 
    margin-right: 2vw !important; 
   
 }
#Titulo {
  background-image: url("img/portada2.jpg");

 }
 #Titulo h1 {
  color:#EC5CEE;
  font-family: fantasy;
  font-size: 75px;
  }
  #anuncio{
     background-color:  #bbdddf;
    padding-top: 5px;
     

  }
  #rombo {
     padding: 3%;
     
   width: 50px; 
   height: 50px; 
   border: 3px solid #555; 
   background: #428bca;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
.Oferta {
   border: solid 3px black;
   padding: 5%;
   width: 100%;
   background-color: #F1EB9A;
}
#PTR{
   margin-top: 5px;
   padding: 3%;
}
.mapa{
   width: 300px;
   height: 200px;
}
.Oferta #IMG {
 width: 200px;
 height: 150px;
}
.Oferta #text {
 font-size: 12px;
}
#Panel img{
width: 300px;
height: 245px;
}
#Panel{
   border:9px double #684c28;
   border-radius:5px;
   width: 325px;
   height: 270px;
   background-color: #dedede;
}
#row2{
   margin-top: 3%;
}
#row3{
   margin-top: 0.5%;
   padding-bottom: 1%;
}
#indi{
   margin-bottom: -15px;
   width: 100%;
   background-color:  #bbdddf;
   
}
#indi .breadcrumb{
   background-color:  #bbdddf;
   color: black;
}
#indi .breadcrumb a{
   color: black;
}
#Social img{
   width: 50px;
   height: 50px;

}
#Social li{
   float: left;
}
footer{
   background-color: #5e83ba;
}
#table2 {
   border: solid black 5px;

}
#table2 tr {
   border: solid black 5px;
}
#table2 th {
   border: solid black 5px;
}
#table2 td {
   border: solid black 5px;
}
#tabl {
  height: 245px !important;
margin-top: -4vw;
}
#Sus{
  margin-left: 2vw;
  
}
#mapB{
   margin-left: 100px;
   margin-top:6px; 
 }
 #medio{
    margin-right: 20px;
 }
 /*
Pagina Categoria ////////////////////////////////////////
*/
#H2C h2{
   font-family: 'Paytone One', sans-serif;
   margin-left: 6vw;
}
.listS li{
   float: left;
   margin-right: 10%;
   list-style: none;
}
.listS {
   text-decoration: none;

}
#subC {
   background-color: rgb(229, 224, 140, 0.5);
   margin-left: 1%;
}
#subC h3{
   margin-left: 4vw;
}
#subM li{
   float: left;
   margin-left: 2.3%;
   list-style: none;
}
#subM {
   margin-left: 7%;
   border:9px double #FFD700;
   background-color: #b0b8b9;

}
#subM h4{
   margin-left: 40%;
}
#subM a{
   text-decoration: none;
}
#imgMarca{
      width: 50px;
      height: 50px;
   }

#Drow{
   margin-top: 1%;

}
.Tfila{
   border: solid black 5px;
   background-color: rgb(196, 75, 0, 0.5);
}
.TableTop{
   border: solid rgb(255, 176, 131) 5px;
   background-color: rgb(0, 254, 252, 0.3);

}

 /*
Pagina Subcategoria ////////////////////////////////////////
*/

.Th2 {
   font-family: 'Bungee Inline', cursive;
}