
#M2 #Login a {
    color: blue;

}
#M2 button {
   margin-left:-8%;

}
#M1 .nav-item {
   border: solid 1px;
   margin-left: 13%;
   border-radius: 14%;
   color: black;
   background-color: #f1f1f0;

}
#M1 .nav-item li a {

    color: black;
 
 }
#navColor {
    background-color: #5e83ba;
 
 }
 #ico{
    width: 100px;
    height: 100px;
 }
 body {
    background-color: #bbdddf;
    max-width: 1400px;
    width: 1400px;
    margin-left: 2vw !important; 
    margin-right: 2vw !important; 
   
 }
#Titulo {
  background-image: url("img/portada2.jpg");

 }
 #Titulo h1 {
  color:#EC5CEE;
  font-family: fantasy;
  font-size: 75px;
  }
  #anuncio{
     background-color:  #bbdddf;
    padding-top: 5px;
    margin: auto;
     

  }
  #rombo {
     padding: 3%;
     
   width: 50px; 
   height: 50px; 
   border: 3px solid #555; 
   background: #428bca;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
.Oferta {
   border: solid 3px black;
   padding: 5%;
   background-color: #F1EB9A;
}
#PTR{
   margin-top: 5px;
   padding: 3%;
}
.Oferta #IMG {
 width: 200px;
 height: 150px;
}
.Oferta #text {
 font-size: 12px;
}
#Panel img{
width: 325px;
height: 250px;
margin-left: 10%;
}
#Panel{
   border:9px double #684c28;
	border-radius:5px;
   padding: 5px;
   height: 275px;
   background-color: #dedede;
}
#indi{
   margin-bottom: -15px;
   width: 100%;
   background-color:  #bbdddf;
   
}
#indi .breadcrumb{
   background-color:  #bbdddf;
   color: black;
}
#indi .breadcrumb a{
   color: black;
}
#Social img{
   width: 50px;
   height: 50px;

}
#Social li{
   float: left;
}
footer{
   background-color: #5e83ba;
}